In [1]:
import pandas as pd 
ratings = pd.read_csv('user_ratings (1).csv')
ratings

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [2]:
movies = pd.read_csv(r"C:\Users\yluja\OneDrive - Balqa Applied University\Project Recommendation sys\top10K-TMDB-movies.csv")
movies

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [3]:
movies.isna().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [4]:
movies = movies.dropna()

In [5]:
df = movies[['id','title','genre','overview','vote_average']]
df

,id,title,genre,overview,vote_average
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,8.7
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...",8.7
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...",8.7
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,8.6
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,8.6
...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...",4.7
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...,4.7
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ...",4.6
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,4.7
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...,4.6

In [6]:
df['tags'] = df['genre'] + ' ' + df['overview']
df

C:\Users\yluja\AppData\Local\Temp\ipykernel_2032\3196210259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['genre'] + ' ' + df['overview']

,id,title,genre,overview,vote_average,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,8.7,"Drama,Crime Framed in the 1940s for the double..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...",8.7,"Comedy,Drama,Romance Raj is a rich, carefree, ..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...",8.7,"Drama,Crime Spanning the years 1945 to 1955, a..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,8.6,"Drama,History,War The true story of how busine..."
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,8.6,"Drama,Crime In the continuing saga of the Corl..."
...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...",4.7,"Action,Adventure,Fantasy The story follows the..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...,4.7,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ...",4.6,"Action,Science Fiction,War During World War II..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,4.7,"Adventure,Fantasy,Action,Drama A man named Far..."
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...,4.6,"Thriller,Action,Crime Seeking justice for his ..."

In [7]:
df = df.drop(columns=['genre','overview'])

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate the vectorizer object and transform the plot column
vectorizer = TfidfVectorizer(max_df=0.7, min_df=2)
vectorized_data = vectorizer.fit_transform(df['tags']) 

# Create Dataframe from TF-IDFarray
tfidf_df = pd.DataFrame(vectorized_data.toarray(), columns=vectorizer.get_feature_names_out())

# Assign the movie titles to the index and inspect
tfidf_df.index = df['title']
print(tfidf_df.head())

print(tfidf_df)

                              00  000  007   10  100  1000  100th  101  10th  \
title
The Shawshank Redemption     0.0  0.0  0.0  0.0  0.0   0.0    0.0  0.0   0.0
Dilwale Dulhania Le Jayenge  0.0  0.0  0.0  0.0  0.0   0.0    0.0  0.0   0.0
The Godfather                0.0  0.0  0.0  0.0  0.0   0.0    0.0  0.0   0.0
Schindler's List             0.0  0.0  0.0  0.0  0.0   0.0    0.0  0.0   0.0
The Godfather: Part II       0.0  0.0  0.0  0.0  0.0   0.0    0.0  0.0   0.0

                              11  ...  zone  zones  zoo  zooey  zoos  zorro  \
title                             ...
The Shawshank Redemption     0.0  ...   0.0    0.0  0.0    0.0   0.0    0.0
Dilwale Dulhania Le Jayenge  0.0  ...   0.0    0.0  0.0    0.0   0.0    0.0
The Godfather                0.0  ...   0.0    0.0  0.0    0.0   0.0    0.0
Schindler's List             0.0  ...   0.0    0.0  0.0    0.0   0.0    0.0
The Godfather: Part II       0.0  ...   0.0    0.0  0.0    0.0   0.0    0.0

                             álex  ángela  émigré  état
title
The Shawshank Redemption      0.0     0.0     0.0   0.0
Dilwale Dulhania Le Jayenge   0.0     0.0     0.0   0.0
The Godfather                 0.0     0.0     0.0   0.0
Schindler's List              0.0     0.0     0.0   0.0
The Godfather: Part II        0.0     0.0     0.0   0.0

[5 rows x 15241 columns]
                                                00  000  007   10  100  1000  \
title
The Shawshank Redemption                       0.0  0.0  0.0  0.0  0.0   0.0
Dilwale Dulhania Le Jayenge                    0.0  0.0  0.0  0.0  0.0   0.0
The Godfather                                  0.0  0.0  0.0  0.0  0.0   0.0
Schindler's List                               0.0  0.0  0.0  0.0  0.0   0.0
The Godfather: Part II                         0.0  0.0  0.0  0.0  0.0   0.0
...                                            ...  ...  ...  ...  ...   ...
The Last Airbender                             0.0  0.0  0.0  0.0  0.0   0.0
Sharknado 3: Oh Hell No!                       0.0  0.0  0.0  0.0  0.0   0.0
Captain America                                0.0  0.0  0.0  0.0  0.0   0.0
In the Name of the King: A Dungeon Siege Tale  0.0  0.0  0.0  0.0  0.0   0.0
Domino                                         0.0  0.0  0.0  0.0  0.0   0.0

                                               100th  101  10th   11  ...  \
title                                                                 ...
The Shawshank Redemption                         0.0  0.0   0.0  0.0  ...
Dilwale Dulhania Le Jayenge                      0.0  0.0   0.0  0.0  ...
The Godfather                                    0.0  0.0   0.0  0.0  ...
Schindler's List                                 0.0  0.0   0.0  0.0  ...
The Godfather: Part II                           0.0  0.0   0.0  0.0  ...
...                                              ...  ...   ...  ...  ...
The Last Airbender                               0.0  0.0   0.0  0.0  ...
Sharknado 3: Oh Hell No!                         0.0  0.0   0.0  0.0  ...
Captain America                                  0.0  0.0   0.0  0.0  ...
In the Name of the King: A Dungeon Siege Tale    0.0  0.0   0.0  0.0  ...
Domino                                           0.0  0.0   0.0  0.0  ...

                                               zone  zones  zoo  zooey  zoos  \
title
The Shawshank Redemption                        0.0    0.0  0.0    0.0   0.0
Dilwale Dulhania Le Jayenge                     0.0    0.0  0.0    0.0   0.0
The Godfather                                   0.0    0.0  0.0    0.0   0.0
Schindler's List                                0.0    0.0  0.0    0.0   0.0
The Godfather: Part II                          0.0    0.0  0.0    0.0   0.0
...                                             ...    ...  ...    ...   ...
The Last Airbender                              0.0    0.0  0.0    0.0   0.0
Sharknado 3: Oh Hell No!                        0.0    0.0  0.0    0.0   0.0
Captain America                                 0.0    0.0  0.0    0.0   0.0
In the Name of the King: A Dungeon Siege Tale   0.0    0.0  0.0    0.0   0.0
Domino                                          0.0    0.0  0.0    0.0   0.0

                                               zorro  álex  ángela  émigré  \
title
The Shawshank Redemption                         0.0   0.0     0.0     0.0
Dilwale Dulhania Le Jayenge                      0.0   0.0     0.0     0.0
The Godfather                                    0.0   0.0     0.0     0.0
Schindler's List                                 0.0   0.0     0.0     0.0
The Godfather: Part II                           0.0   0.0     0.0     0.0
...                                              ...   ...     ...     ...
The Last Airbender                               0.0   0.0     0.0     0.0
Sharknado 3: Oh Hell No!                         0.0   0.0     0.0     0.0
Captain America                                  0.0   0.0     0.0     0.0
In the Name of the King: A Dungeon Siege Tale    0.0   0.0     0.0     0.0
Domino                                           0.0   0.0     0.0     0.0

                                               état
title
The Shawshank Redemption                        0.0
Dilwale Dulhania Le Jayenge                     0.0
The Godfather                                   0.0
Schindler's List                                0.0
The Godfather: Part II                          0.0
...                                             ...
The Last Airbender                              0.0
Sharknado 3: Oh Hell No!                        0.0
Captain America                                 0.0
In the Name of the King: A Dungeon Siege Tale   0.0
Domino                                          0.0

[9985 rows x 15241 columns]

In [10]:
# Import cosine_similarity measure
from sklearn.metrics.pairwise import cosine_similarity

# Create the array of cosine similarity values
cosine_similarity_array = cosine_similarity(tfidf_df)

# Wrap the array in a pandas DataFrame
cosine_similarity_df = pd.DataFrame(cosine_similarity_array, index=tfidf_df.index, columns=tfidf_df.index)

# Print the top 5 rows of the DataFrame
display(cosine_similarity_df.head())

title,The Shawshank Redemption,Dilwale Dulhania Le Jayenge,The Godfather,Schindler's List,The Godfather: Part II,Impossible Things,Spirited Away,Your Eyes Tell,Dou kyu sei – Classmates,Your Name.,...,The Last Exorcism Part II,Black Christmas,Prey,Hellraiser: Deader,Cell,The Last Airbender,Sharknado 3: Oh Hell No!,Captain America,In the Name of the King: A Dungeon Siege Tale,Domino
title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,1.000000,0.080219,0.062211,0.036552,0.033243,0.041168,0.027959,0.045051,0.056808,0.026256,...,0.037807,0.051981,0.033495,0.056526,0.016384,0.038803,0.003734,0.062740,0.084510,0.069273
Dilwale Dulhania Le Jayenge,0.080219,1.000000,0.038721,0.014867,0.055167,0.076149,0.040374,0.043798,0.023054,0.011186,...,0.025498,0.089083,0.021134,0.068499,0.012484,0.044163,0.009011,0.015696,0.031976,0.030709
The Godfather,0.062211,0.038721,1.000000,0.015737,0.429373,0.022677,0.038020,0.017998,0.026121,0.006112,...,0.019052,0.016838,0.005710,0.014836,0.018315,0.016561,0.027233,0.016777,0.044813,0.028222
Schindler's List,0.036552,0.014867,0.015737,1.000000,0.013158,0.009425,0.019242,0.013611,0.031234,0.049251,...,0.011288,0.018398,0.010250,0.009656,0.006468,0.036019,0.002603,0.091086,0.019007,0.012185
The Godfather: Part II,0.033243,0.055167,0.429373,0.013158,1.000000,0.043553,0.054533,0.044173,0.005498,0.024768,...,0.011736,0.007110,0.020176,0.024722,0.017496,0.012260,0.001894,0.012756,0.007007,0.019423

In [11]:
# Find the values for the movie Thor
cosine_similarity_series = cosine_similarity_df.loc['The Shawshank Redemption']

# Sort these values from highest to lowest
ordered_similarities = cosine_similarity_series.sort_values(ascending=False)
# Print the results
print(ordered_similarities[1:6])

title
Sherlock Jr.    0.223687
In Hell         0.184867
The Chorus      0.160575
Brubaker        0.158033
Starred Up      0.155817
Name: The Shawshank Redemption, dtype: float64

In [12]:
cosine_similarity_array

array([[1.        , 0.08021924, 0.06221104, ..., 0.06274045, 0.08450967,
        0.06927328],
       [0.08021924, 1.        , 0.0387208 , ..., 0.01569569, 0.03197557,
        0.03070925],
       [0.06221104, 0.0387208 , 1.        , ..., 0.01677741, 0.04481326,
        0.02822209],
       ...,
       [0.06274045, 0.01569569, 0.01677741, ..., 1.        , 0.01197431,
        0.00621567],
       [0.08450967, 0.03197557, 0.04481326, ..., 0.01197431, 1.        ,
        0.03609594],
       [0.06927328, 0.03070925, 0.02822209, ..., 0.00621567, 0.03609594,
        1.        ]])

In [ ]:
import pickle
pickle.dump(tfidf_df,open('tfidf_df.pkl','wb'))

In [83]:
import pickle
pickle.dump(df,open('movies11.pkl','wb'))

In [84]:
pickle.dump(cosine_similarity_array,open('similarity11.pkl','wb'))

In [13]:
popular_movies = movies[movies['vote_count'] > 5000]['title'].tolist()

In [14]:
# Use this popular_movies list to fi
popular_movies_rankings = movies[movies["title"].isin(popular_movies)]

# Inspect the movies watched over 50 times
popular_movies_rankings = popular_movies_rankings[['title','vote_average']]
display(popular_movies_rankings)

                             title  vote_average
0         The Shawshank Redemption           8.7
2                    The Godfather           8.7
3                 Schindler's List           8.6
4           The Godfather: Part II           8.6
6                    Spirited Away           8.5
...                            ...           ...
9628  Independence Day: Resurgence           5.3
9689                   After Earth           5.2
9723                 Green Lantern           5.2
9760                        Psycho           5.1
9838            The Little Mermaid           5.0

[770 rows x 2 columns]

In [88]:
pickle.dump(popular_movies_rankings,open('popular_movies_ranking.pkl','wb'))

In [15]:
# Find the average rating given to these frequently watched films
popular_movies_average_rankings = popular_movies_rankings[["title", "vote_average"]].groupby('title').mean()
print(popular_movies_average_rankings.sort_values(by="vote_average", ascending=False).head())

                          vote_average
title
The Shawshank Redemption           8.7
The Godfather                      8.7
Schindler's List                   8.6
The Godfather: Part II             8.6
The Green Mile                     8.5

# User profile

In [16]:
list_of_movies_enjoyed = ['The Godfather', "Schindler's List", 'After Earth']

tfidf_df = tfidf_df.loc[~tfidf_df.index.duplicated(keep='first')]
# Create a subset of only the movies the user has enjoyed
movies_enjoyed_df = tfidf_df.reindex(list_of_movies_enjoyed)

# Generate the user profile by finding the average scores of movies they enjoyed
user_prof = movies_enjoyed_df.mean()

# Inspect the results
print(user_prof)

00        0.0
000       0.0
007       0.0
10        0.0
100       0.0
         ...
zorro     0.0
álex      0.0
ángela    0.0
émigré    0.0
état      0.0
Length: 15241, dtype: float64

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

# Find subset of tfidf_df that does not include movies in list_of_movies_enjoyed
tfidf_subset_df = tfidf_df.drop(list_of_movies_enjoyed, axis=0)

# Calculate the cosine_similarity and wrap it in a DataFrame
similarity_array = cosine_similarity(user_prof.values.reshape(1, -1),tfidf_subset_df )
similarity_df = pd.DataFrame(similarity_array.T, index=tfidf_subset_df.index, columns=["similarity_score"])
# Sort the values from high to low by the values in the similarity_score
sorted_similarity_df = similarity_df.sort_values(by="similarity_score", ascending=False)

# Inspect the most similar to the user preferences
print(sorted_similarity_df.head())

                           similarity_score
title
The Godfather: Part II             0.252804
Resistance                         0.220787
Life Is Beautiful                  0.209055
Little Boy                         0.198771
Everything Is Illuminated          0.195307